<template>
    <h1>{{ message }}</h1>

    <form>
        <label for="search">
            Search <br>
            <input v-model="searchQuery.value" id="search" type="text" placeholder="search">
        </label>

        <label for="exclude">
            Exclude
            <input v-model="exclude.value" type="checkbox" id="exclude">
        </label>
    </form>


    <table>
        <tbody>
            <tr v-for="(entry, indexRow) in dataTableFiltered">
                <td v-for="(key, indexCol) in entry" :class="{ 'found':  foundArrayComputed.matrix[indexRow][indexCol] === 1}">
                    {{ key }}
                </td>
            </tr>
        </tbody>
    </table>
</template>

<script>
    import {defineProps, reactive, ref, computed} from 'vue';

    export default {
        setup(props) {
            const message = reactive('Test Filter Table');

            let dataTable = reactive({
                'keyData': [
                    ['name 0', 'name 1', 'name 2', 'name 3', 'name 4', 'name 5', 'name 6', 'name 7', 'name 8', 'name 9'],
                    ['name 10', 'name 11', 'name 12', 'name 13', 'name 14', 'name 15', 'name 16', 'name 17', 'name 18', 'name 19'],
                    ['name 20', 'name 21', 'name 22', 'name 23', 'name 24', 'name 25', 'name 26', 'name 27', 'name 28', 'name 29'],
                    ['name 30', 'name 31', 'name 32', 'name 33', 'name 34', 'name 35', 'name 36', 'name 37', 'name 38', 'name 39'],
                    ['family 0', 'name 1', 'name 2', 'name 3', 'name 4', 'name 5', 'name 6', 'name 7', 'name 8', 'name 9'],
                    ['fam 0', 'name 1', 'name 2', 'name 3', 'name 4', 'name 5', 'name 6', 'name 7', 'name 8', 'name 9'],
                    ['name 0', 'name 1', 'name 2', 'name 3', 'name 4', 'name 5', 'name 6', 'name 7', 'name 8', 'name 9'],
                    ['name 0', 'name 1', 'name 2', 'name 3', 'name 4', 'name 5', 'name 6', 'name 7', 'name 8', 'name 9'],
                    ['name 0', 'name 1', 'name 2', 'name 3', 'name 4', 'name 5', 'name 6', 'name 7', 'name 8', 'name 9'],
                    ['name 0', 'name 1', 'name 2', 'name 3', 'name 4', 'name 5', 'name 6', 'name 7', 'name 8', 'name 9'],
                ]
            });

            let foundArray = reactive({'matrix': createMatrix(10, 10)});
            const searchQuery = reactive({value: null});
            const exclude = reactive({value: false});

            function createMatrix(m, n) {
                return Array.from({
                    length: m
                }, () => new Array(n).fill(-1));
            }

            const dataTableFiltered = computed(() => {
                let search = searchQuery.value;

                return dataTable.keyData.filter(function (element, index) {
                    return element.some((value, i) => {
                        if (value.includes(search)) {
                            if (exclude.value !== false) {
                                return true;
                            }
                        }

                        if (exclude.value === false) {
                            return true;
                        }
                    });
                });
            });

            let foundArrayComputed = computed(() => {
                dataTableFiltered.value.forEach((element, index) => {
                    element.forEach((value, i) => {
                        if (value.includes(searchQuery.value)) {
                            foundArray.matrix[index][i] = 1;
                        } else {
                            foundArray.matrix[index][i] = -1;
                        }
                    });
                });

                return foundArray;
            });

            return {message, dataTable, dataTableFiltered, searchQuery, exclude, foundArray, foundArrayComputed};
        },
    }

</script>

<style scoped>
    a {
        color: #42b983;
    }

    form {
        margin-bottom: 20px;
        display: flex;
        justify-content: center;
    }

    label {
        text-align: left;
        display: block;
        width: 30%;
    }

    form input {
        padding: 7px 4px;
        width: 100%;
        box-sizing: border-box;
    }

    form input[type=checkbox] {
        display: block;
        height: 30px;
        width: 30px;
    }

    table {
        border-spacing: 0;
        width: 70%;
        margin: 0 auto;
    }

    table td {
        border: 1px solid #2c3e50;
        padding: 7px 4px;
    }

    .found {
        background: #10b0d1;
    }
</style>
