<template>
  <img alt="Vue logo" src="./assets/logo.png" />
  <Table msg="Table Filtering" />
</template>

<script setup>
  import Table from './components/Table.vue'
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
